form {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.error {
    padding: 10px;
    color:white;
    background-color: red;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}

.form-group {
    text-align: center;
}
